@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #e8b6ce, #ffffff); /* Pink to Dark Pink gradient */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

h1, h2, h3, p {
    color: #4A4A4A; /* Darker text for better contrast */
}
